<div class="slider">
  <ng-container *ngFor="let item of items; let i = index">
    <a class="slide" *ngIf="i == currentSlideIndex" @slideFade [routerLink]="[item.routePath]">
      <div class="slide-bg">
        <img class="slide-bg-image" [src]="imagesSizes.large + item.backdrop_path" [alt]="item.title" />
      </div>
      <div class="slide-pane">
        <h2 class="name">{{ item.title }}</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span class="app-icon">star</span>
              <span class="rating-value">{{ item.vote_average.toFixed(2) }}</span>
              <span>/10</span>
            </span>
            <span class="release_date" *ngIf="item.release_date">{{ item.release_date | date: 'MMM d, y' }}</span>
          </div>
        </div>
        <div class="desc mt-6">
          {{ item.overview.length > 200 ? (item.overview | slice:0:200) + '...' : item.overview }}
        </div>
      </div>
    </a>
  </ng-container>

  <button class="nav-btn prev" (click)="previous()" *ngIf="!isBanner">
    <i class="pi pi-chevron-left"></i>
  </button>
  <button class="nav-btn next" (click)="next()" *ngIf="!isBanner">
    <i class="pi pi-chevron-right"></i>
  </button>

  <div class="indicators" *ngIf="!isBanner">
    <span *ngFor="let item of items; let i = index" class="indicator" [class.active]="i === currentSlideIndex"
      (click)="setSlide(i)">
    </span>
  </div>
</div>