.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: white;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}