<div class="container">
  <p-tabView>
    <p-tabPanel header="Movies">
      <div class="grid">
        <div *ngFor="let genre of genres" class="col-6 md:col-4 lg:col-3 xl:col-2">
          <a class="genre-link" [routerLink]="'/movies/genres/' + genre.id">
            <div class="genre-card" [ngStyle]="{
              'background-image': getBackgroundImage('movies_' + genre.id)
            }">
              <div class="genre-overlay">
                <span class="genre-name">{{ genre.name }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="TV Shows">
      <div class="grid">
        <div *ngFor="let genre of tvShowGenres" class="col-6 md:col-4 lg:col-3 xl:col-2">
          <a class="genre-link" [routerLink]="'/tvshows/genres/' + genre.id">
            <div class="genre-card" [ngStyle]="{
              'background-image': getBackgroundImage('tvs_' + genre.id)
            }">
              <div class="genre-overlay">
                <span class="genre-name">{{ genre.name }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>