/* You can add global styles to this file, and also import other style files */
@import './styles/init-css';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/arya-orange/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';


body {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  color: $white;
  background: #0C111B;
  padding-top: 80px; // Compensate for fixed header
}

a {
  text-decoration: none;
  color: $white;
}

.app-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 2rem auto; // Reduced from 5.5rem to fix bottom gap and mobile spacing
  padding: 0 2rem;
}

// Mobile responsive adjustment
@media (max-width: 768px) {
  .container {
    margin: 1rem auto;
    padding: 0 1rem;
  }
}