<ng-container *ngIf="movie">
  <div class="hero" [style.backgroundImage]="'url(' + imagesSizes.large + movie.backdrop_path + ')'">
    <div class="hero-bg-overlay"></div>
    <div class="container hero-content">
      <div class="grid">
        <div class="col-12 md:col-4 lg:col-3">
          <div class="poster-wrapper">
            <img class="poster" [src]="imagesSizes.medium + movie.poster_path" [alt]="movie.title" />
          </div>
        </div>
        <div class="col-12 md:col-8 lg:col-9 flex align-items-center">
          <div class="movie-info">
            <h1 class="movie-title">{{ movie.title }}</h1>
            <div class="movie-meta">
              <span class="release-date">{{ movie.release_date | date: 'yyyy' }}</span>
              <span class="separator">•</span>
              <span class="duration">{{ movie.runtime }} min</span>
              <span class="separator">•</span>
              <span class="language">{{ movie.original_language | uppercase }}</span>
            </div>
            <div class="genres">
              <span class="genre-chip" *ngFor="let genre of movie.genres">{{ genre.name }}</span>
            </div>
            <p class="overview">{{ movie.overview }}</p>

            <div class="movie-actions">
              <a [href]="movie.homepage" target="_blank" *ngIf="movie.homepage" class="website-btn">
                <i class="pi pi-link"></i> Website
              </a>
              <button class="website-btn" (click)="toggleFavorite(movie)" [class.active]="isMovieInList(movie)">
                <i class="pi" [ngClass]="isMovieInList(movie) ? 'pi-heart-fill' : 'pi-heart'"
                  [style.color]="isMovieInList(movie) ? '#e50914' : 'inherit'"></i>
                <span>{{ isMovieInList(movie) ? 'Added to List' : 'Add to List' }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-section">
    <p-tabView>
      <p-tabPanel header="Details">
        <div class="grid">
          <div class="col-12 md:col-4">
            <div class="stat-box">
              <h3>Status</h3>
              <p>{{ movie.status }}</p>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="stat-box">
              <h3>Revenue</h3>
              <p>{{ movie.revenue | currency }}</p>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="stat-box">
              <h3>Release Date</h3>
              <p>{{ movie.release_date | date: 'longDate' }}</p>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Videos">
        <div class="grid">
          <div class="col-12" *ngIf="movieVideos.length > 0">
            <p-carousel [numVisible]="2" [numScroll]="2" [value]="movieVideos">
              <ng-template let-video pTemplate="item">
                <div class="p-2">
                  <video-embed [key]="video.key" [site]="video.site"></video-embed>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Photos">
        <div class="grid">
          <div class="col-12" *ngIf="movieImages?.backdrops?.length">
            <p-carousel [numVisible]="2" [numScroll]="2" [value]="movieImages?.backdrops || []">
              <ng-template let-image pTemplate="item">
                <div class="p-2">
                  <p-image [src]="imagesSizes.large + image.file_path" alt="Image" width="100%"
                    [preview]="true"></p-image>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>

    <div class="cast-section" *ngIf="movieCredits">
      <h2 class="section-title">Top Cast</h2>
      <p-carousel [numVisible]="5" [numScroll]="5" [circular]="false" [value]="movieCredits.cast">
        <ng-template let-actor pTemplate="item">
          <div class="actor-card">
            <div class="actor-img">
              <img
                [src]="actor.profile_path ? (imagesSizes.medium + actor.profile_path) : 'assets/images/actor-placeholder.png'"
                [alt]="actor.name" />
            </div>
            <div class="actor-info">
              <span class="actor-name">{{ actor.name }}</span>
              <span class="character-name">{{ actor.character }}</span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="similar-movies" *ngIf="similarMovies.length">
      <items-banner [items]="similarMovies" title="Similar Movies"></items-banner>
    </div>
  </div>
</ng-container>